/* add project custom css here */

body {
  background: #e8e8f0;
}

.header-section {
  background-image: image-url("addiscent-tall.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: auto;
  padding-top: 300px;
  padding-bottom: 500px;
  text-align: center;
}

.services-section {
  height: auto;
  padding-top: 150px;
  text-align: center;
}

.tools-section {
  height: auto;
  padding-top: 150px;
  text-align: center;
}

.websites-section {
  height: auto;
  padding-top: 150px;
  text-align: center;
}

.contact-section {
  height: auto;
  padding-top: 150px;
  padding-bottom: 450px;
  text-align: center;
}

div.ss-box {
  background: #d0e0f0;
  border: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
}

img.ss {
  width: 90%;
}

h1.header-title {
  font-size: 400%;
  color: #eee;
}

h3.header-title {
  color: #eee;
}

a {
  color: #108090;
}

a:visited {
  color: gray;
}

a:hover {
  color: #108090;
}

p {
  font-size: 150%;
  color: #444444;
  text-align: left;
}

p.aligncenter {
  text-align: center;
}

footer {
  padding: 2px;
  background: $brand-primary;
}
